body {
    margin: 0%;
    padding: 0%;
    background-image: url('imageonline-co-blurimage.png');
    background-size: cover;
    background-position: center;
}

html {
    font-size: 90%;
}

header {

    background-color: rgb(16, 4, 61);
    color: aliceblue;
    display: flex;
    flex-direction: row;

}

.heading {
    /* margin-left: 2rem;
    text-align: center; */
    margin: 0 auto;

    text-align: center;
}

.Logo {
    width: 8rem;
    height: 8rem;
    margin-top: 1rem;
}

.admin_button {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 0.3rem 0.5rem;

}

.admin_button a {
    text-decoration: none;
}

.admin_button a:hover {
    background-color: yellow;
    color: red;
    padding: 0.5rem 1rem;
}

a {
    color: yellow;
}

article {
    background-color: rgb(240, 204, 150);
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1rem;

}

article h1 {
    text-align: center;
    color: red;
}

.tips {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 8rem;



}

.block {
    border: 2px solid black;
    width: 20rem;
    background-color: white;
    margin-top: 1rem;
    border-radius: 1rem 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.block_img {
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

footer {
    background-color: rgb(16, 4, 61);
    height: 4rem;
    margin-top: 2.7rem;
}

footer h4 {
    color: white;
    position: relative;
    top: 1.5em;
    text-align: center;
}
.color_box1{
    color: yellow;
    animation: changecolor 3s infinite;

}
.color_box2{
    color: rgb(3, 255, 234);
    animation: changecolor1 3s infinite;
}

@keyframes changecolor1 {
    0%{
        color:rgb(3, 255, 234);
    }
    100%{
        color:yellow;
    }
    
}

@keyframes changecolor {
    0%{
        color:yellow;
    }
    100%{
        color: rgb(3, 255, 234);
    }
    
}


@media(max-width:990px) {
    .tips {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 5rem;



    }

    .block {
        border: 2px solid black;
        width: 17rem;
        background-color: white;
        margin-top: 1rem;
        border-radius: 1rem 2rem;
        padding: 0.5rem;
    }
}

@media(max-width:790px) {
    .tips {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 2rem;



    }

}

@media(max-width:750px) {
    .tips {
        display: grid;
        grid-template-columns: auto;
        margin-left: 9rem;



    }

    .block {
        border: 2px solid black;
        width: 22rem;
        background-color: white;
        margin-top: 1rem;
        border-radius: 1rem 2rem;
        padding: 0.5rem;
    }
}

@media(max-width:680px) {
    .tips {
        display: grid;
        grid-template-columns: auto;
        margin-left: 3rem;



    }

}

@media(max-width:550px) {
    .block {
        border: 2px solid black;
        width: 15rem;
        background-color: white;
        margin-top: 1rem;
        border-radius: 1rem 2rem;
        padding: 0.5rem;
    }

    .heading {
        margin: 0rem auto;
        text-align: center;
        font-size: small;

    }
}

@media(max-width:410px) {
    article {
        background-color: rgb(240, 204, 150);
        margin-left: 0rem;
        margin-right: 5rem;
        padding: 1rem;



    }

    body {
        background-color: rgb(240, 204, 150);
    }

    footer {
        font-size: small;
    }

}